.Homepage{

    .Section1{

        height: 450px;
        width: 100%;

        .Blur{
            filter: blur(2px) brightness(0.35);
            background-image: url('mba.jpg');
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

        .Left-content{
            font-family: Roboto;
            position: relative;
            width: 50%;
            float: left;
            top: -320px;
            text-align: left;
        }
        .Right-content{
            font-family: Roboto;
            position: relative;
            width: 50%;
            float: right;
            top: -320px;
        }

    }


    .Section2{
        height: 450px;
        background: none;
    }

    .Section3{
        height: 450px;
        background: #BFBFBF;
    }
    
}