.App{
    background: black;
    color: white;
    text-align: center;
}



    /* Color Theme Swatches in Hex */
.Graphic-Design-1-hex { color: #F2F2F2; }
.Graphic-Design-2-hex { color: #BFBFBF; }
.Graphic-Design-3-hex { color: #8C8C8C; }
.Graphic-Design-4-hex { color: #595959; }
.Graphic-Design-5-hex { color: #262626; }
